body {
  background-color: #66CCFF;
}
.bird {
  height: 100px;
}
#header {
  background-color: white;
  width: 1540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}
#container {
  background-color: white;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
#content {
  margin-left: auto;
  margin-right: auto;


}
#nav {
  width: 200px;
  float: left;
  height: 500px;
}

a {
  color: black;
}
a:hover{
  color: #66CCFF;
  transition: 0.3s;

}

#bird{
  padding: 10px;
  width: 100px
}

img {
  max-width: 1500px;
}

.center{
  text-align: center;
}
